<!doctype html>
<html>
<head>
   {% block head %}
   <title>{% block title %}{% endblock %}</title>
   <link rel="stylesheet" href="{{ url_for('static', filename = 'eshop.css') }}">
   {% endblock %}
</head>
<body>
   {% block body %}
   <h1>{% block header %}{% endblock %}</h1>
   {% endblock %}
   {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flash">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
</body>
</html>
