{% extends "base.html" %}
{% block title %}Форма оформления заказа{% endblock %}
{% block head %}{{ super() }}{% endblock %}
{% block header %}Оформление заказа{% endblock %}
{% block body %}{{ super() }}<form action="{{ url_for('save_order') }}" method="post">
 <div>
   <label>Заказчик:</label>
   <input type="text" name="name" size="50" />
 </div>
 <div>
   <label>Email заказчика:</label>
   <input type="text" name="email" size="50" />
 </div>
 <div>
   <label>Телефон для связи:</label>
   <input type="text" name="phone" size="50" />
 </div>
 <div>
   <label>Адрес доставки:</label>
   <input type="text" name="address" size="50" />
 </div>
 <div><input type="submit" value="Заказать" /></div>
</form>{% endblock %}
{{ url_for('catalog') }}"